---
const { url, img, title, text } = Astro.props
import Image from '../components/Image.astro'
---

<div class="card rounded-0" style="max-width: 18rem;">
  <a href={url}>
    <div class="row g-0"> 
      <div class="col-5">
        <!-- <div class="card-img rounded-start" style={'background-image: url(' + src + ');'}></div> -->
        <Image img={img} title={title} classList="card-img img-fluid rounded-0 thumb" />
        <!-- <img src={src} alt="" class="card-img img-fluid rounded-0" style="width:100%" /> -->
      </div>
      <div class="col-7">
        <div class="card-body m-0 p-0">
          <div class="card-title my-1 mx-2 p-0">{title}</div>
        </div>
      </div>
    </div>
  </a>
</div>

<style lang="scss">
  .card {
    --bs-card-border-width: 0 !important;
    border-left: 0.45rem solid var(--background);
    overflow: hidden;
    background-color: var(--background-light);
    height: 90px;
    transition-property: transform;
    transition-duration: 0.2s;
    filter: grayscale(1);

    a {
      color: var(--text-color);
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:focus-within a:focus {
      box-shadow: none !important;
      background-color: var(--background-light);
    }

    &:hover,
    &:focus,
    &:focus-within {
      border-left: 0.45rem solid var(--orange);
      filter: saturate(1.1);
    }

    .card-img {
      width: 100%;
      height: 90px;
      max-height: 90px;
    }

    .card-title {
      box-sizing: border-box;
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
</style>
