---
import 'leaflet/dist/leaflet.css'

// DEMONSTRATES: Two ways to get server vars into page script

// 1. declared here (received from calling component), and sent in HTML via dataset
const { items } = Astro.props
// 2. declared here, and sent to JS via "define:vars"
let note = 'leaflet is awesome'
// console.log(note)
---

<div id="map" data-items={items}></div>

<style lang="scss">
  #map {
    width: 100%;
    height: 450px;
  }
</style>

<script is:inline define:vars={{ note }}>
  //   console.log('note', note)
</script>

<script>
  // @ts-nocheck

  import 'leaflet/dist/leaflet.css'
  import 'leaflet'

  let dataset = document.querySelector('#map').dataset
  let items = JSON.parse(dataset.items)
  // console.log(items)

  const map = L.map('map').setView([items[0].lat, items[0].lng], 13)

  // original OSM tiles
  // const tileLayer = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
  // attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',

  // Better tiles found @ https://alexurquhart.github.io/free-tiles/
  const tileLayer =
    'https://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}'

  const tiles = L.tileLayer(tileLayer, {
    minZoom: 0,
    maxZoom: 20,
    attribution: '',
    ext: 'png',
  }).addTo(map)

  const markerIcon = L.icon({
    iconSize: [25, 41],
    iconAnchor: [10, 41],
    popupAnchor: [2, -40],
    iconRetinaUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon-2x.png',
    iconUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png',
    shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
  })

  // add markers
  let markers = []
  if (items && items.length > 0) {
    for (let i = 0; i < items.length; i++) {
      //   console.log(items[i])
      // create marker
      let marker = L.marker([items[i].lat, items[i].lng], { icon: markerIcon })
        .addTo(map)
        .bindPopup(returnPopupHtml(items[i]))
      // set color
      //   marker._icon.style.filter = 'hue-rotate(20deg)'
      // icon?
      // https://github.com/lennardv2/Leaflet.awesome-markers
      // add to array
      markers.push(marker)
    }
  }
  function returnPopupHtml(d) {
    return `<a href="/collection/${d.slug}">${d.title}</a><br>${d.text.split(' ').slice(0, 20).join(' ')}...`
  }
  let popup = L.popup()

  //   show lat/lng
  //   function onMapClick(e) {
  //     popup.setLatLng(e.latlng).setContent(`You clicked the map at ${e.latlng.toString()}`).openOn(map)
  //   }
  //   map.on('click', onMapClick)
</script>
