---
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
// import '../assets/scss/styles.scss'
import 'bootstrap/dist/css/bootstrap.min.css'
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url'
import * as GLOBALS from '../lib/globals.mjs'

const favicon = `${GLOBALS.ASSETS_URL}/img/icons-share/favicon.svg`

// DEBUG
// console.log("What's inside Astro.site?", Astro.site)

const {
  title = 'Camp La Jolla',
  description = 'Website for Camp La Jolla Military Park and Database in San Diego, California',
  url,
  image = `${GLOBALS.ASSETS_URL}/img/social-preview-image.png`,
  author = 'Owen Mundy',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? // github pages
          `${Astro.site.href}/${title.toLowerCase().replaceAll(' ', '-')}`
        : // default to dev
          `http://localhost:4321/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" class="py-3">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      :root {
        --background: #e8e6de;
        --background-50: #f4f3ed;
        --footer: #777;
        --orange: rgb(224, 126, 13);
        --orange-hover: #eb8d22;
        --text-color: var(--bs-body-color);
      }
      // expand low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
        background-color: var(--footer);

        main {
          background-color: var(--background);
          min-height: 600px;
        }
      }
      //   // theme settings
      //   :root {
      //     --radius-small: 3px;
      //     --radius-large: 6px;
      //     --gap-default: 2rem;
      //     --font-measure: 70ch;
      //     --font-family-default: 'Open Sans', sans-serif;
      //     --font-family-special: 'Open Sans', sans-serif;
      //     // light theme
      //     --font-color: var(--neutral-900);
      //     --action-color: var(--primary-300);
      //     --action-color-state: var(--primary-500);
      //     --background: var(--neutral-100);
      //     --primary-background: var(--primary-100);
      //     --neutral-background: var(--neutral-200);
      //   }

    //   a,
    //   a:active,
    //   a:link,
    //   a:visited,
      a.nav-link:active,
      a.nav-link:link,
      a.nav-link:visited {
        color: var(--orange);
      }
    //   a:hover,
    //   a:focus,
      a.nav-link:hover,
      a.nav-link:focus {
        color: var(--orange-hover);
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }
    </style>

    <script src={bootstrap}></script>
  </body>
</html>
