---
// console.log(Astro.locals)

import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

// import '../assets/scss/styles.scss'

// Astro will bundle and optimize this CSS automatically
import 'bootstrap/dist/css/bootstrap.min.css'

import * as GLOBALS from '../lib/globals.mjs'

const favicon = `${GLOBALS.ASSETS_URL}/img/icons-share/favicon.svg`

// DEBUG
// console.log("What's inside Astro.site?", Astro.site)
// console.log(Astro.props.padding) // received from caller

const {
  title = 'Camp La Jolla',
  description = 'Website for Camp La Jolla Military Park and Database in San Diego, California',
  url,
  image = `${GLOBALS.ASSETS_URL}/img/social-preview-image.png`,
  author = 'Owen Mundy',
  nopadding = Astro.props.nopadding,
  locals = Astro.locals,
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? // github pages
          `${Astro.site.href}/${title.toLowerCase().replaceAll(' ', '-')}`
        : // default to dev
          `http://localhost:4321/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" class={nopadding ? '' : 'py-3'}>
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // theme settings
      :root {
        --text-color: var(--bs-body-color);
        --background-darkest: rgb(199, 197, 182);
        --background-darker: rgb(202, 200, 183);
        --background-dark: rgb(214, 212, 198);
        --background: rgb(220, 218, 206);
        --background-light: rgb(231, 229, 219);
        --background-lighter: rgb(234, 237, 228);
        --background-lightest: rgb(242, 240, 234);
        --footer-bg: rgb(39, 37, 25);
        --orange: rgb(224, 126, 13);
        --orange-hover: #eb8d22;
        --bs-link-color: var(--orange);
        --bs-link-hover-color: var(--orange-hover);
        --bs-focus-ring-color: var(--orange-hover);
      }
      // expand low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
        background-color: var(--footer-bg);

        main {
          background-color: var(--background);
          min-height: 600px;
        }
      }

      header,
      main,
      footer {
        a,
        a:active,
        a:link,
        a:visited,
        a.nav-link:active,
        a.nav-link:link,
        a.nav-link:visited {
          color: var(--orange);
        }
        a:hover,
        a:focus,
        a.nav-link:hover,
        a.nav-link:focus {
          color: var(--orange-hover);
        }
      }
      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }
    </style>

    <script>
      // Astro will bundle and process this JS automatically
      import 'bootstrap/dist/js/bootstrap.bundle.min.js'
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L45DJ5MLL5"></script>
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-L45DJ5MLL5')
    </script>

    <!-- <script is:inline type="text/javascript">
      var sc_project = 3628150
      var sc_invisible = 1
      var sc_security = 'e1d0ad51'
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script> -->

    <script is:inline define:vars={{ locals }}>
      // console.log("locals",locals)
    </script>
  </body>
</html>
